/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/assets/images/products/1627540516.jpg
public/assets/images/livewire-tmp/*.*
public/assets/images/livewire-tmp/ivSnES0RCNAMHZdkyZWqixQt4HeHM3-metaMTg2NDQ4NDRfNTI2ODkyOTAxMDM0NzAwXzg2ODgyNzY5MzA2MjI5MTQ1Nl9uKDEpLmpwZw==-.jpg
public/assets/images/livewire-tmp/UDPviYd5dHVI2dBqkEULNZ2aIhmB6e-metaMjAxOTEyMDhfMTYwMTQzLmpwZw==-.jpg
public/assets/images/livewire-tmp/li2A1xvgPdtbBcA0iIycv0MjO6cnBZ-meta7ISk7ZiEMS5qcGc=-.jpg
public/assets/images/livewire-tmp/ghDMIKH86QCrkC7FCe7GEXrew2fLXC-metaMjkuanBn-.jpg
public/assets/images/livewire-tmp/3uku4RTljrkfaEyX4sSZ0K9VfeOU9V-metaMjAxNjAyMTlfMTcxNjE2LmpwZw==-.jpg
